<footer > 


		<div class="container" style="height:100px">
		</div>	
		<nav class="navbar fixed-bottom navbar-expand navbar-dark navigation-background" >
			<div class="container">
				<div class="row">
					<div class="copyright">
						© 2014 eNno Multi-purpose theme | <a target="_blank" href="http://bootstraptaste.com">Bootstraptaste</a>
					</div>	
                   		
				</div>
			</div>
			<div class="container ">
				<div class="row ">
					<ul class="social-network">
						<li><a href="#"  title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
						<li><a href="#"  title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
						<li><a href="#"  title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
						<li><a href="#" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
						<li><a href="#"  title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
					</ul>
					<a href="" class="scrollup" ><i class="fa fa-chevron-up"></i></a>
				</div>
			</div>
				
		</nav>
	
</footer>
