<div class="container" style="margin-top:80px">
	<h2>{{appMasterDataService.servicesHeader}}</h2>
	<!--<img src="../assets/images/aboutus.jpg" alt=""  height="300" width="1000"/>-->
	<p>
		Types of services:
	</p>
	<div class="row">
		<div class="col-md-3" (click)="onClickExtd()">
			<img  src="../assets/images/services_1.jpg" alt="" class="img-thumbnail img-border" [ngStyle]="{'border-color':getColor(showExtd)}"  />
			<div class="img-text" [ngStyle]="{'background-color':getColor(showExtd)}">Extended Warranty</div>
		</div>
		<div class="col-md-3" (click)="onClickRepair()" >
			<img  src="../assets/images/services_1.jpg" alt="" class="img-thumbnail  img-border " [ngStyle]="{'border-color':getColor(showRepair)}" />
			<div class="img-text" [ngStyle]="{'background-color':getColor(showRepair)}" >Repair</div>
		</div>
		<div class="col-md-3" (click)="onClickEwaste()" >
			<img  src="../assets/images/services_1.jpg" alt="" class="img-thumbnail img-border " [ngStyle]="{'border-color':getColor(showEwaste)}"  />
			<div class="img-text" [ngStyle]="{'background-color':getColor(showEwaste)}" >E-waste</div>
		</div>
		<div class="col-md-3" (click)="onClickResale()" >
			<img  src="../assets/images/services_1.jpg" alt="" class="img-thumbnail img-border" [ngStyle]="{'border-color':getColor(showResale)}"  />
			<div class="img-text" [ngStyle]="{'background-color':getColor(showResale)}" >Re-Sale</div>
		</div>
		</div>
		<div style="padding-top:10px" id="pills-tabContent">
			 <div class="img-border show active" id="pills-repair"  *ngIf="showRepair">{{appMasterDataService.serviceObject.types.Repair}}</div>

			  <div class="img-border show active" id="pills-extd"  *ngIf="showExtd" >{{appMasterDataService.serviceObject.types.ExtendedWarranty}}</div>
			 
			  <div class="img-border show active" id="pills-ewaste"  *ngIf="showEwaste" >{{appMasterDataService.serviceObject.types.Ewaste}}</div>
			  <div class="img-border fade show active" id="pills-resale"  *ngIf="showResale" >{{appMasterDataService.serviceObject.types.Resale}}</div>
		</div>
	
</div>